@import "~bootstrap";
@import "abstracts/abstracts.variables";
@import "components/components.main";
$krasina : #7cbfbb;
$main : #222;
body {
  margin:0;
  background:$main;
  color:#fff;
  font-family:sans-serif;
}
h1 {
  text-align: center;
  padding-top:16px;
}
nav ul {
  display: flex;
  justify-content: center;
  background-color: $krasina;
  margin: 0;
  padding:0;
}
li {
  a {
    text-decoration: none;
    transition: .2s;
  }

  a:hover {
    text-decoration: none;
    color: $main;
  }
}
.user {
  color:white;
  margin-left:50px;
}
select {
  width:100%;
  padding:8px 12px;
  border-radius:4px;
  margin:6px 0 8px 0;
}
.table {
  color: black;
  background: white;


}
thead{
  color: white;
  background: $main;
}
tbody tr:hover {background-color: $krasina;}
.button-cyan, .btn-secondary:focus {
  background: $krasina;
}
* {
  box-sizing: border-box;
}

#form-menu {
  display:flex;
  justify-content: center;
  align-items:center;
  height:80vh;
  div {
    position:relative;
    display:flex;
  }
}

.form-wrap {
  margin: 16px;
  display:flex;
  flex-direction:column;
}
form {
  margin:10px 0;
}
label {
  font-weight:bold;
  font-size:25px;
  color:#fff;
}
.button {
  border:2px solid #262626;
  border-radius:9px;
  background: black;
  color: white;
  font-weight:bold;
  padding:12px 24px;
  transition:.2s;
}
.button:hover {
  background:#fff;
  color:#000;
  cursor:pointer;
}

.input-field {
  position: relative;
  line-height: 44px;
}
.input-label {
  z-index:1;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
  font-size:16px;
}
.input {
  z-index:2;
  width: 190px;
  border: 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  font-size:15px;
  margin:14px 0;
  background:transparent;
  color:#fff;
  font-weight:bold;
  height:30px;
  outline:none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}
.input:invalid {
  outline: 0;
}
.input:focus, .input:valid {
  border-color: #11998e;
}
.input:focus~.input-label, .input:valid~.input-label {
  font-size: 12px;
  top: -12px;
  color: #11998e;
}
span {
  font-size: 0.55em;
  color: #efaadd;
}

.progress-bar-container {
  width: 200ox;
  margin-bottom: 5px;
}

.progress-bar {
  background-color: $krasina;
  color: white;
  border-radius: 5px;
  text-align: center;
}